.go__up {
  transition: transform 0.8s;
  transform: translateY(-400%);
}

.go__down {
  transition: transform 0.7s;
  position: absolute;
  transform: translate(-50%, -50%) !important;
}

.height100 {
  height: 100vh;
  width: 100vh;
  overflow: hidden;
}
