.go__up {
  transition: transform 0.8s;
  transform: translateY(-400%);
}

.go__down {
  transition: transform 0.7s;
  position: fixed;
  transform: translate(-50%, -50%) !important;
}

.card.fade-out {
  scale: 0;
}

.read {
  color: #a6e3a1 !important;
}

.height100 {
  height: 100dvh !important;
  width: 100dvw !important;
  overflow: hidden;
}

.mobile-not-open {
  @include mobile-not-open;
}

.welcome-remove {
  @include hide-info-text;
}

