.go__up {
  transition: transform 0.8s;
  transform: translateY(-400%);
}

.go__down {
  transition: transform 0.7s;
  position: absolute;
  transform: translate(-50%, -40%) !important;
}

.card.fade-out {
  scale: 0;
}

.read {
  color: #a6e3a1 !important;
}

.height100 {
  height: 100vh;
  width: 100vh;
  overflow: hidden;
}

.mobile-yes-open {
  @include mobile-yes-open;
}

.mobile-not-open {
  @include mobile-not-open;
}