@mixin flex-center($horizontal: true, $vertical: true) {
  display: flex;
  justify-content: #{if($horizontal, "center", "flex-start")};
  align-items: #{if($vertical, "center", "flex-start")};
}

@mixin fancy-bg() {
  background-color: #232221;
  background-image: radial-gradient(
      circle at 100% 50%,
      transparent 1rem,
      $header-clr 1rem,
      $header-clr 1.5rem,
      transparent 1.5rem
    ),
    radial-gradient(
      circle at 0% 50%,
      transparent 1rem,
      $header-clr 1rem,
      $header-clr 1.5rem,
      transparent 1.5rem
    ),
    linear-gradient(-45deg, $bg, rgba($bg, 0.7));
  background-size: 8rem 5rem, 8rem 5rem, 100% 100%;
  background-position: 2.5rem 0, 2.5rem 2.5rem;
}

@mixin blob() {
  @include flex-center;
  cursor: pointer;
  width: $blob * 1.41421356237;
  height: $blob * 1.41421356237;
  background-color: $header-clr;
  border-radius: 50%;
}

@mixin arrow-rotate(
  $rotate-before,
  $rotate-after,
  $rotate-hover-before,
  $rotate-hover-after
) {
  &::before {
    transform: rotate($rotate-before);
  }

  &:hover::before {
    transform: rotate($rotate-hover-before);
  }

  &:not(:hover)::before {
    transform: rotate($rotate-before);
  }

  &::after {
    transform: rotate($rotate-after);
  }

  &:hover::after {
    transform: rotate($rotate-hover-after);
  }

  &:not(:hover)::after {
    transform: rotate($rotate-after);
  }
}

@mixin arrow-rotate-af($rotate-before, $rotate-after) {
  &:hover::before {
    transform: rotate($rotate-before);
  }

  &:hover::after {
    transform: rotate($rotate-after);
  }
}

@mixin media-breakpoint($size) {
  @media (min-width: $size) {
    @content;
  }
}