$bg: #1e1e2e;
$header-clr: #757bb8;
$text: #c3d3e8;
$header-height: 15vh;
$info-width: 25vw;
$blob: 50px;
$red: #ec5663;
$delete: #ff1d30;
$green: #a6e3a1;

.card.fade-out {
  opacity: 0; /* set opacity to 0 to fade out the element */
}

.read {
    color: #a6e3a1 !important;
}