$bg: #1e1e2e;
$header-clr: #757bb8;
$text: #c3d3e8;
$red: #ec5663;
$delete: #ff1d30;
$green: #a6e3a1;
$body-bg: #313244;

$font-h1: calc(1vw + 1rem);
$font-h2: 1.5rem;
$font-para: max(1.3vw, 0.8rem);
$blob: 1.9rem;
$header-height: 15vh;

:root {
  --info-width: calc(10rem + 12vw);
}
