@import "mixins", "reset", "variables", "js", "mediaQuery",
  url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,400;0,600;1,400&family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  background-color: $body-bg;
}

.welcome {
  position: fixed;
  right: 0;
  // top: 0;
  // left: 0;
  // transform: translate(-50%, -50%);
  height: 5rem;
  width: 5rem;
  background-color: black;
}

header {
  @include fancy-bg;
  @include flex-center;
  font-family: "Spline Sans Mono", sans-serif;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: $header-height;

  & h1 {
    color: $bg;
    padding: 1vh 2vw;

    border-radius: 9px;
    font-size: 2rem;
    background-color: rgba($header-clr, 0.9);

    transition: all 0.1s;
    cursor: default;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr var(--info-width);
  width: 100vw;
  transition: transform 0.5s;

  section {
    pointer-events: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(0, 15rem);
    padding: 1rem;
    gap: 1rem;
    margin-top: $header-height;
  }
}

aside {
  cursor: default;
  @include flex-center(false, true);
  flex-direction: column;
  position: fixed;
  right: 0;
  top: $header-height;
  height: calc(100vh - $header-height - 2rem);
  width: var(--info-width);
  padding: 1rem;
  background-color: $bg;
  color: $text;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  margin-top: 1rem;
  transition: all 0.3s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  > h2 {
    font-size: $font-h2;
  }

  #info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    margin-top: 1rem;
    transition: all 0.3s;
    width: 100%;

    > div {
      display: flex;
      justify-content: space-between;

      p {
        width: 55%;
        text-align: right;
        align-self: flex-end;
        font-size: calc($font-para - 0.15rem);
      }
    }

    h3:nth-child(even) {
      text-align: right;
      font-size: 0.9rem;
    }
  }
}

.card {
  pointer-events: all;
  cursor: pointer;
  z-index: 0;
  display: flex;
  flex-direction: column;
  height: 15rem;
  border-radius: 9px;
  padding: 1rem;
  color: $text;
  transition: all 250ms;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  position: relative;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: all 150ms ease-in-out;
    .icon {
      opacity: 1;
    }
  }

  .icon {
    opacity: 0;
    position: absolute;
    transition: all 0.3s;

    &.status {
      // margin-top: 5rem;
      bottom: 20%;
      align-self: flex-end;
    }

    &.check-icon {
      color: $green;

      &:hover {
        color: $red;
        transform: scale(1.5) rotate(360deg);
      }
    }

    &.cross-icon {
      color: $red;

      &:hover {
        color: $green;
        transform: scale(1.5) rotate(-180deg);
      }
    }

    &.trash-icon {
      color: $red;
      align-self: flex-end;

      &:hover {
        color: $delete;
        transform: scale(1.5) rotate(30deg);
      }
    }
  }

  $angles: (
    1: -45deg,
    2: 0deg,
    3: 45deg,
  );

  @for $i from 1 through 3 {
    &:nth-child(3n + #{$i}) {
      background: linear-gradient(map-get($angles, $i), $bg, rgba($bg, 0.7));
    }
  }

  p {
    font-size: $font-para;
  }

  h2:first-of-type {
    font-size: $font-h1;
    margin: 0 1rem;
    text-align: center;

    & + h2 {
      margin: 0.5rem 0 1rem;
      text-align: right;
      font-style: italic;
      font-size: 0.8rem;
    }
  }

  hr {
    border: 1px solid rgba($text, 0.2);
    border-radius: 10%;
    margin-top: auto;
  }

  h3 {
    margin-top: 0.5rem;
    font-size: 0.8rem;

    &:last-child {
      position: absolute;
      bottom: 1rem;
      align-self: flex-end;
    }
  }
}

section:hover > div:not(:hover) {
  transform: scale(0.95);
  opacity: 0.7;
}

#create__new__card {
  position: fixed;
  transform: translateX(-50%) translateY(-300%);
  transition: transform 0.5s;
  top: 50%;
  left: 50%;
  width: clamp(20rem, 50rem, 50vw);
  border-radius: 9px;
  padding: 1rem;
  background: linear-gradient(-30deg, rgba($bg, 0.1), rgba($bg, 0.7));
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  color: $text;

  h1 {
    font-family: "Spline Sans Mono", sans-serif;
    font-size: $font-h2;
    color: $text;
    margin: 1rem;
  }

  form {
    @include flex-center(true, false);
    flex-direction: column;

    input {
      all: unset;
      border-bottom: 1px solid rgba($text, 0.1);
      margin: 1rem 0;
      width: clamp(10rem, 30rem, 35vw);

      &#submitForm {
        pointer-events: all;
        height: inherit;
        width: inherit;
        border: none;
        border-radius: 50%;
        color: #a6e3a1;
      }
    }
  }
}

#status {
  @include flex-center;
  position: absolute;
  margin-top: auto;
  gap: 1rem;
  align-self: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;

  input {
    all: unset;

    &:checked + .slider {
      background-color: $header-clr;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $header-clr;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: $body-bg;
    border-radius: 999px;
    transition: 400ms;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}

.blob {
  @include blob;
  @include arrow-rotate(0deg, 90deg, -180deg, -90deg);

  &.open__form__btn {
    position: absolute;
    bottom: 5%;
  }

  &.cancel__movie {
    background-color: $red;
    position: absolute;
    top: 3%;
    right: 3%;

    @include arrow-rotate(405deg, 315deg, -180deg, 180deg);
  }

  &.add__movie {
    transition: transform 0.1s;
    background-color: $green;
    position: absolute;
    bottom: 3%;
    right: 3%;
    pointer-events: none;

    @include arrow-rotate-af(360deg, 270deg);
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: $blob;
    height: 8px;
    border-radius: 999px;
    background-color: $bg;
    transition: all 0.5s;
  }
}
